.header {
  color: white;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
}
.header__icons {
  display: flex;
  align-items: center;
  text-align: center;
}
.header__icon {
  display: flex;
  flex-direction: column;
  width: 100px;
  cursor: pointer;
  padding: 10px;
}
.header::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.header {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.header__icon > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: auto;
}
.header__icon--active {
  padding: 10px;
  display: inline !important;
}
.header__icon:hover > p {
  display: inline;
}
.header__icon > p {
  display: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
}
.header > img {
  object-fit: contain;

  height: 80px;
}
